<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hourglass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Hourglass.Properties.Settings>
            <setting name="OpenSavedTimersOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInNotificationArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UniqueId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Prefer24HourTime" serializeAs="String">
                <value>False</value>
            </setting>
        </Hourglass.Properties.Settings>
    </userSettings>
</configuration>
