<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Hourglass"
          Version="1.10.0.0"
          Manufacturer="Chris Dziemborowicz"
          UpgradeCode="f1d002c9-cfc9-40fb-84af-96e7aec26e0b"
          IconSourceFile="$(var.Hourglass.ProjectDir)Resources\AppIcon.ico">

    <!-- Specify a "sensible default" install location -->
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Hourglass" />

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="MIT.rtf" LogoFile="Logo.png" />
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id="NetFx45Web" />
      <MsiPackage Id="HourglassSetup" SourceFile="$(var.Hourglass.Setup.TargetPath)">
        <!-- Pass this selection down to the Hourglass.Setup msi -->
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
